@page "/Tecnicos/Delete/{TecnicoId:int}"
@inject TecnicosService tecnicosService
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Eliminar Tecnicos</PageTitle>
<EditForm Model="tecnico" OnValidSubmit="Eliminar">
    <DataAnnotationsValidator />

    <div class="container bg-light">
        <div class="card shadow">
            <div class="card-header bg-primary">
                <h3 class="card-title text-center text-white">Eliminar Tecnicos</h3>
            </div>
        </div>

        <div class="card-body">
            <h4 class="text-danger bg-light"> ¿Estás seguro que quieres eliminar este Tecnico?</h4>
            <div class="mb-1"></div>
            <div class="container bg-light mt-4 me-auto ">
                <div class="card shadow">
                    <h3 class="card-header card-title text-black"><strong>Datos del Tecnico</strong></h3>
                    <div class="card-body">
                        <p class="mb-0"><strong>Tecnico ID:</strong> @tecnico.TecnicoId</p>
                        <div class="mb-1">
                            <p class="mb-0"><strong>Nombres:</strong> @tecnico.Nombres</p>
                        </div>
                        <div class="mb-1">
                            <p class="mb-0"><strong>Sueldo por hora:</strong> @tecnico.SueldoHora</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="Eliminar">Eliminar</button>
                    <button type="button" class="btn btn-outline-primary bi bi-box-arrow-left" @onclick="Volver">Volver</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoId { get; set; }

    public Tecnicos tecnico { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        if (tecnico != null)
        {

            tecnico = await tecnicosService.Buscar(TecnicoId);
        }
         else
        {
            return ;
        }

    }

	public async Task Eliminar()
	{
		var eliminar = await tecnicosService.Eliminar(tecnico.TecnicoId);

		if (eliminar)
		{
			Volver();
		}
	}

	public void Volver()
	{
		navigation.NavigateTo("/Tecnicos/Index");
	}
}
